body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  padding: 30px;
}

.image-container {
  position: relative;
  display: inline-block;
}

#templateImage {
  display: block;
  max-width: 100%;
  height: auto;
}
#overlayImage {
  position: absolute;
  top: 20%; /* Adjust as needed */
  left: 34%; /* Adjust as needed */
  width: 150px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 50px;
  display: none;
}

#fileInput {
  margin-top: 20px;
}

#downloadButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.whatsapp {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#downloadButton:hover {
  background-color: #0056b3;
}
